body{
  margin-top: 20px;
  background-color: lightgray;
}
.main{
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.topbar{
  background-color: teal;
  overflow: hidden;
}
.topbar a{
  float:right;
  color: whitesmoke;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 26px;
}
.sidebar{
  background-color: #333;
  color: white;
  height: 100%;
}
.sidebar a{
  margin-left: 10px;
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .content{
    background-color: whitesmoke;
  }
  .loginPage{
      width: 382px;
      overflow: hidden;
      margin: auto;
      margin: 20 20 20 450px;
      padding: 80px;
      background-color: teal;
      border-radius: 15px ;
      text-align: center;

  }
  .RegisterPage{
      width: 382px;
      overflow: hidden;
      margin: auto;
      margin: 20 20 20 450px;
      padding: 50px;

      background-color: teal;
      border-radius: 15px ;

  }
  .login
  {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

  .RegisterHeader {
    background-color: teal;
    color: white;

  }

  .maintable {
    background-color: #333;
    color: white;

  }



#email, #password, #firstname, #lastname, #worklimit, #phone, #address, #role{
      font-family: Helvetica, sans-serif;
      width: 350px;
      height: 30px;
      border: none;
      padding-top: 1px;
      margin-top: 1px;
      padding-bottom: 1px;
      margin-bottom: 1px;
      border-radius: 5px ;


  }
  #manager, #staff{
        width: 50px;
        height: 30px;
        border: none;
        padding-top: 1px;
        margin-top: 1px;
        padding-bottom: 1px;
        text-align: center;

    }


  #log, #logMan{
      width: 300px;
      height: 30px;
      border: none;
      border-radius: 17px;
      padding-top: 10px;
      margin-top: 10px;
      color: blue;
      text-align: center;
  }

  #loginH2 {
    text-align: center;
  }
